.nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.navitem {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.text {
  position: relative;
  left: 31%;
}
